<!DOCTYPE html>
<html>

<head>
    <title>Edit {{cuisine.name}} Cuisine</title>
</head>

<body>
    <header>
        <h1>Edit {{cuisine.name}} Cuisine</h1>
    </header>
    <section>
        <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" maxlength="50" class="form-control" name="name" placeholder={{cuisine.name}}>

            <label for="description">Description:</label>
            <textarea class="form-control" maxlength="249" rows="3" name="description" placeholder={{cuisine.description}}></textarea>

            <label for="imageUrl">Image Link:</label>
            <input type="text" maxlength="250" class="form-control" name="imageUrl" placeholder={{cuisine.imageUrl}}>

            <button type="submit" class="btn btn-default" id="submit" type="submit">Update</button>

        </form>
    </section>
</body>

</html>
