<!DOCTYPE html>
<html>

<head>
    <title>World Cuisines - Add New Cuisine</title>
</head>

<body>
    <header>
        <h1>Add a new cuisine</h1>
    </header>
    <section>
        <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" maxlength="50" class="form-control" name="name" placeholder="Name of the cuisine">

            <label for="description">Description:</label>
            <textarea class="form-control" maxlength="249" rows="3" name="description" placeholder="Description of the cuisine"></textarea>

            <label for="imageUrl">Image Link:</label>
            <input type="text" maxlength="250" class="form-control" name="imageUrl" placeholder="Cuisine Image">

            <button type="submit" class="btn btn-default" id="submit" type="submit">Add</button>

        </form>
    </section>
</body>

</html>
